In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_largest_banks_in_the_United_States"
response = requests.get(url)
soup = BeautifulSoup(response.content, "html.parser")

In [3]:
table = soup.find("table", {"class": "wikitable sortable"})
rows = table.find_all("tr")

In [4]:
header = [th.text.strip() for th in rows[0].find_all("th")]
data = [[td.text.strip() for td in row.find_all("td")] for row in rows[1:]]

In [5]:
df = pd.DataFrame(data, columns=header)

In [6]:
df.to_csv("largest_banks.csv", index=False)

In [9]:
df.head()

,Rank,Bank name,Headquarters location,Total assets(billions of US$)[3],CET1capitalrequirement(2022)[4][5],Market capitalization (billions of US$)[6]
0,1,JPMorgan Chase,New York City,"$3,868",12.0,$430.973
1,2,Bank of America,Charlotte,"$3,123",10.4,$252.05
2,3,Citigroup,New York City,"$2,423",11.5,$91.89
3,4,Wells Fargo,San Francisco,"$1,876",9.2,$167.58
4,5,Goldman Sachs,New York City,"$1,571",13.3,$118.10